@import "_vendor";
@import "_theme";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $app-primary;
  font-family: $app-font;
}

pre {
  background-color: $app-primary;
  border: none;
}

h1, h3 {
  font-family: $app-font;
}

.app-pink * {
  border: 5px dashed $app-error;
}

.app-green {
  border: 2px solid $app-success;
  background-color: $app-success;
}

.app-red {
  border: 2px solid $app-tertiary;
  background-color: $app-tertiary;
}

.app-yellow {
  border: 2px solid $app-secondary;
  background-color: $app-secondary;
}

.app-circle {
  border-radius: 25px;
  width: 55%;
  background-color: $app-active;
}
