@import "~font-awesome/scss/font-awesome.scss";

$app-bg: #f7aa7f;
$app-font: Helvetica;

body{
  background-color: $app-bg;
  font-family: $app-font;
}

.app-pink * {
  border: 5px dashed pink;
}

.app-green {
  border: 2px solid lightgreen;
  background-color: lightgreen;
}

.app-red {
  border: 2px solid red;
  background-color: red;
}

.app-yellow {
  border: 2px solid yellow;
  background-color: yellow;
}

.app-circle {
  border-radius: 25px;
  width: 55%;
  background-color: white;
}
